<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Skatespots</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/handlebars/handlebars.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body class="">
  <div class="jumbotron col-md-12">
    <h1>Skatespots</h1>
    <p>rndrt</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>


  <div class="col-md-12 parent">
    <a href="#all-skatespots"><button type="button" class="col-md-3 btn btn-default navbar-btn allskatespots">All Skatespots</button></a>
    <a href="#add-skatespots"><button type="button" class="col-md-3 btn btn-default navbar-btn addskatespot">Add a Skatespot</button></a>
    <button type="button" class="col-md-3 btn btn-default navbar-btn myskatespot">My Skatespots</button>
    <button type="button" class="col-md-3 btn btn-default navbar-btn loginregister">Login/Register</button>

    <!-- IMAGE ONE -->
    <div class="col-md-2 row1">
    </div>
    <div class="col-md-8  row1">
      IMAGE ONE
      <img src="/images/blue.png" alt="" class="img-rounded home-image col-md-12">
    </div>
    <div class="col-md-2 row1">
    </div>
    <!-- IMAGE ONE -->



    <!-- ROW SPACER -->
    <!-- <div class="seperator col-md-12">
  </div> -->
  <!-- ROW SPACER   -->



  <!-- IMAGE TWO -->
  <div class="col-md-2 row2">
  </div>
  <div class="col-md-8 row2">
    IMAGE TWO
    <img src="/images/blue.png" alt="" class="img-rounded home-image home-image-2 col-md-12">
  </div>
  <div class="col-md-2 row2">
  </div>
  <!-- IMAGE TWO -->


  <!-- ROW SPACER -->
  <div class="seperator3 col-md-12">
  </div>
  <!-- ROW SPACER   -->

  <!-- FORM -->
  <a name="add-skatespots">
  <div class="form-row col-md-3">
  </div>
  <div class="create-spot-form form-row col-md-6">
    <form>
      <div class="form-group">
        <label>Skatespot Name</label>
        <input type="text" name="name" class="create-spot-form form-control form-name"  placeholder="Name">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" name="city" class="form-control form-city"  placeholder="City">
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" name="address" class="form-control form-address"  placeholder="Address">
      </div>
      <div class="form-group">
        <label>Security Guards?</label>
        <input type="text" name="security_guards" class="form-control" id="exampleInputEmail1" placeholder="Security Guards">
      </div>
      <div class="form-group">
        <label>Difficulty Level</label>
        <input type="text" name="difficulty_level" class="form-control" id="exampleInputEmail1" placeholder="Difficulty Level">
      </div>
      <div class="form-group">
        <label>Features</label>
        <input type="text" name="features" class="form-control"  placeholder="Features">
      </div>
      <div class="form-group">
        <label>Pictures</label>
        <input type="text" name="pictures" class="form-control"  placeholder="seperate image URL's with comma">
      </div>
      <div class="form-group">
        <label>Tips</label>
        <input type="text" name="tips" class="form-control"  placeholder="Let us know!">
      </div>
      <div class="form-group">

        <p class="help-block">Example block-level help text here.</p>
      </div>
      <button type="submit" id="form-button" class="btn btn-default form-submit button"> WHERE IS MY SUBMIT BUTTON</button>
    </div>

  </form>
</div>
<div class="form-row col-md-3">
</div>
</a>
<!-- FORM -->

<!-- ROW SPACER -->
<div class="seperator2 col-md-12">
</div>
<!-- ROW SPACER   -->



<div class="col-md-6 child2">
</div>
<div class="col-md-6 child22">
</div>

<!-- ROW SPACER -->
<a name="all-skatespots">
<div class="seperator1 col-md-12">
  <div class="col-md-12 select1 row2">
    <div id="skatespot" class="col-md-6">


      <!-- HANDLEBARS -->
      <script id="spots" type="text/x-handlebars-template">
        <div class="hbs-render">
        <p>
        name: {{name}}
        <br>
        address: {{address}}
        <br>
        security guards: {{security_guards}}
        <br>
        city: {{city}}
        <br>
        tips: {{tips}}
        <br>
        {{#each spots}}

         pictures: <img src="{{pictures}}">

        {{/each}}
      </div>
      </script>
      <!-- HANDLEBARS -->
    </div>
  </div>
</div>
</a>
<!-- ROW SPACER   -->


</div>

</body>
</html>
