<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Skatespots</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

</head>

<body class="">
    <div class="jumbotron col-md-12">
        <p>
            <br>
            <p>
                <br>
                <p>
                    <br>
                    <p>
                        <br>
                        <h1>Skatespots</h1>

    </div>


    <div class="col-md-12 parent">
        <a href="#all-skatespots">
            <button type="button" class="col-md-3 btn btn-default navbar-btn allskatespots">All Skatespots</button>
        </a>
        <a href="#add-skatespots">
            <button type="button" class="col-md-3 btn btn-default navbar-btn addskatespot">Add a Skatespot</button>
        </a>
        <a href="#add-city">
        <button type="button" class="col-md-3 btn btn-default navbar-btn myskatespot">Add a City</button>
      </a>
        <button type="button" class="col-md-3 btn btn-default navbar-btn loginregister">Login/Register</button>




        <!-- FORM -->
        <a name="add-skatespots">

            <div class="form-row col-md-3">
            </div>
            <div class="create-spot-form form-row col-md-6">
                <h2>Add a Skatespot</h2>
                <form>
                    <div class="form-group">
                        <label>Skatespot Name</label>
                        <input type="text" name="name" class="create-spot-form form-control form-name" placeholder="Name">
                    </div>

                    <!-- CITY DROP DOWN GOES HERE -->
                    <div class="dropdown">
                        <label>City</label>
                        <br>
                        <select name="city" id="city_name">
                            <script id="cities" type="text/x-handlebars-template">
                                {{#each cities}}
                                <option value="{{this._id}}">{{this.city_name}}, {{this.state}}</option>
                                {{/each}}
                            </script>
                        </select>
                    </div>
                    <p>
                        <!--  CITY DROP DOWN GOES HERE -->

                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="address" class="form-control form-address" placeholder="Address">
                        </div>

                        <!-- SECURITY GUARDS DROP DOWN GOES HERE -->
                        <div class="dropdown">
                            <label>Security Guards?</label>
                            <br>
                            <select name="security_guards" id="security_guards">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <p>
                            <!-- SECURITY GUARDS DROP DOWN GOES HERE -->

                            <!-- DIFFICULTY DROP DOWN GOES HERE -->
                            <div class="form-group">
                                <div class="dropdown">
                                    <label>Difficulty Level</label>
                                    <br>
                                    <select name="difficulty_level" id="difficulty_level">
                                        <option value="Beginner">Beginner</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Advanced">Advanced</option>=
                                    </select>
                                </div>
                                <p>
                                    <!-- DIFFICULTY DROP DOWN GOES HERE -->

                                    <div class="form-group">
                                        <label>Features</label>
                                        <input type="text" name="features" class="form-control" placeholder="Features">
                                    </div>
                                    <div class="form-group">
                                        <label>Pictures</label>
                                        <input type="text" name="pictures" class="form-control" placeholder="seperate image URL's with comma">
                                    </div>
                                    <div class="form-group">
                                        <label>Tips</label>
                                        <input type="text" name="tips" class="form-control" placeholder="Let us know!">
                                    </div>
                                    <div class="form-group">

                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                    <button type="submit" id="form-button" class="btn btn-default form-submit button"> Add a Skatespot</button>
                            </div>

                </form>
            </div>
            <div class="form-row col-md-3">
            </div>
        </a>
        <!-- FORM -->







        <!-- FORM -->
        <a name="add-city">
            <div class="form-row3 col-md-3">
            </div>
            <div class="create-city-form form-row3 col-md-6">
              <h2>Add a City</h2>
                <form>
                    <div class="form-group">
                        <label>City Name</label>
                        <input type="text" name="city_name" class="create-city-form form-control form-name" placeholder="City Name">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" name="state" class="form-control form-address" placeholder="State Name">
                    </div>
                    <button type="submit" id="form-button3" class="btn btn-default form-submit button">Add a City</button>
            </div>

            </form>
            <div class="form-row3 col-md-3">
            </div>
        </a>
        <!-- FORM -->


        <a name="all-skatespots">

        <div class="row2 col-md-2">
        </div>
        <div id="skatespot" class="row2  col-md-8">

            <!-- HANDLEBARS -->

            <script id="spots" type="text/x-handlebars-template">
                <div class="hbs-render all-parks" data-id="{{_id}}">
                    <p>

                        <br> Name: {{name}}
                        <br> Address: {{address}}
                        <br> Security Guards?: {{security_guards}}
                        <br> City: {{city}}
                        <br> Tips: {{tips}}
                        <br> {{#each pictures}}
                        <img src="{{this}}" class="hbs-image"> {{/each}}
                        <button class='btn btn-secondary delete-skatespot' data-id="{{_id}}">Delete Skatespot</button>
                        <button class='btn btn-secondary update-skatespot' data-id="{{_id}}">Update Skatespot</button>

                </div>
            </script>

            <!-- HANDLEBARS -->
        </div>
        <div class="row2 col-md-2">
        </div>
        </a>
    </div>

</body>

</html>
