.row1{
  height: 280px;
}
.row2{
  height: 500px;
  top: 1000px;
  /*background-color: black;*/
}
.home-image{
  padding: 0px !important;
}
.form-row{
  height: 500px;
}
.logo{
  height: 250px;
  width: 250px;
}
.hbs-image{
  height: 200px;
  width: 200px;
}
.parent{
  z-index: -1;
}
