
img{
  border-radius: 75px;
  border: 1px solid black;
}
.testimg2{
  background-color: blue;
}
.row1{
  height: 280px;
}
.row2{
  height: 300px;
}
.seperator{
  background-color: white;
  height: 25px;
  top: 50px;
}
.seperator1{
  background-color: black;
  height:1000px;
}
.seperator2{
  background-color: white;
  height:800px;
}
.home-image{
  padding: 0px !important;
}
