
img{
  border-radius: 75px;
  border: 1px solid black;
}
.testimg2{
  background-color: blue;
}
.row1{
  height: 280px;
}
.row2{
  height: 300px;
}
.seperator{
  background-color: white;
  height: 25px;
}
.seperator1{
  background-color: white;
  height:5px;
}
